.padding {
    margin-top: 280px; /* Ajuste selon la hauteur exacte de ta navbar */
  }
  
@media (max-width: 767px) {
    .top-bar {
      line-height: 35px;
      text-align: center;
      position: relative;
    }
    .social ul {
      float: none;
    }
    .navbar-custom {
      top: 72px;
    }
    .top-nav-collapse {
      top: 0;
    }
    .navbar-custom .nav {
      float: none;
      text-align: left;
      margin: 0;
    }
    .navbar-custom .nav li {
      float: none;
      display: block;
    }
    .navbar-custom .nav li a {
      border: none;
    }
    .navbar-collapse {
      margin-top: 0;
      padding: 0;
      float: none;
    }
    .address {
      font-size: 11px;
    }
    .navbar-header p {
      display: none;
    }
  }
  @media (min-width: 768px) and (max-width: 980px) {
    .navbar-header {
      width: 100%;
    }
    .navbar-toggle {
      display: block !important;
    }
    .navbar-collapse.collapse {
      display: none !important;
    }
    .navbar-collapse.in {
      display: block !important;
    }
    .navbar-custom .nav {
      float: none;
      text-align: left;
      margin: 0;
      width: 100%;
      border-top: 1px solid #465a6f;
    }
    .navbar-custom .nav li {
      float: none;
      display: block;
    }
    .navbar-custom .nav li a {
      border: none;
    }
    .navbar-collapse {
      margin-top: 0;
      padding: 0;
      float: none;
    }
  }
  @media (min-width: 768px) {
    .navbar-custom {
      -webkit-transition: background 0.5s ease-in-out, padding 0.3s ease-in-out;
      -moz-transition: background 0.5s ease-in-out, padding 0.3s ease-in-out;
      -o-transition: background 0.5s ease-in-out, padding 0.3s ease-in-out;
      transition: background 0.5s ease-in-out, padding 0.3s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
      padding: 10px 0;
      top: 0;
    }
    .navbar-custom.top-nav-collapse .nav li.dropdown ul.dropdown-menu {
      top: 122%;
    }
  }
  @media (min-width: 981px) and (max-width: 1169px) {
    .navbar-custom .nav {
      margin-top: 15px;
    }
    .navbar-custom .nav li a {
      padding: 10px 22px;
    }
    .navbar-custom .nav li.dropdown ul.dropdown-menu {
      top: 165%;
    }
    .navbar-custom.top-nav-collapse .nav li.dropdown ul.dropdown-menu {
      top: 155%;
    }
  }
  @media (min-width: 768px) and (max-width: 1169px) {
    .navbar-header p {
      border-left: none;
      float: none;
      clear: both;
      padding: 0;
    }
    .navbar-header p b {
      display: inline-block;
    }
  }
  .navbar-custom {
    background: #344659;
    top: 50px;
    padding: 15px 0;
  }
  .top-nav-collapse {
    margin: 0;
  }
  .navbar-collapse {
    float: right;
  }
  .navbar-custom .navbar-brand {
    color: #fff;
    font-weight: 800;
    font-size: 30px;
  }
  .navbar-custom .navbar-brand:hover {
    color: #fff;
  }
  .navbar-custom .navbar-brand span {
    font-weight: 300;
    color: #f38F1D;
  }
  .navbar-custom .navbar-brand span:hover {
    color: #f38F1D;
  }
  .navbar-custom .navbar-brand:focus {
    outline: 0;
  }
  .navbar-header p {
    border-left: 1px solid #465a6f;
    padding-left: 15px;
    float: left;
    color: #cddae7;
    font-size: 12px;
    line-height: 20px;
  }
  .navbar-header p b {
    font-size: 16px;
    font-weight: 400;
    display: block;
  }
  .navbar-custom .navbar-toggle {
    font-size: 28px;
    color: #f38F1D;
    margin: 0;
    padding: 5px 10px 0;
  }
  .navbar-custom .navbar-toggle:active,
  .navbar-custom .navbar-toggle:focus {
    outline: 0;
  }
  .navbar-custom a {
    color: #4783bf;
    background-color: transparent;
  }
  .navbar-custom a:hover {
    color: #f38F1D;
  }
  .navbar-custom .nav li a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    border: 1px solid #344659;
    line-height: 28px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    padding: 10px 25px;
  }
  .navbar-custom .nav li a:focus,
  .navbar-custom .nav li a:hover {
    outline: 0;
    color: #f38F1D;
    border-color: #f38F1D;
    background-color: transparent;
  }
  .navbar-custom .nav li a.btn-default {
    background-color: #f38F1D;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-size: 13px;
    font-weight: 600;
    padding: 0 40px;
    margin: 0 10px;
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
  }
  .navbar-custom .nav li a.btn-default:active,
  .navbar-custom .nav li a.btn-default:focus,
  .navbar-custom .nav li a.btn-default:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
  }
  .navbar-custom .nav li.dropdown ul.dropdown-menu {
    background-color: #293949;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    left: 0;
    right: auto;
    top: 132%;
  }
  .navbar-custom .nav li.dropdown ul.dropdown-menu li {
    border-bottom: 1px solid #394b5f;
  }
  .navbar-custom .nav li.dropdown ul.dropdown-menu li a {
    line-height: 30px;
    border: none;
    color: #98acc0;
    font-size: 13px;
  }
  .navbar-custom .nav li.dropdown ul.dropdown-menu li a:focus,
  .navbar-custom .nav li.dropdown ul.dropdown-menu li a:hover {
    color: #fff;
    border: none;
    outline: 0;
    background-color: transparent;
  }
  .navbar-custom .nav li.dropdown ul.dropdown-menu li:last-child {
    border: none;
  }
  .navbar-custom .nav li.open a {
    background-color: transparent;
  }
  .navbar-custom .nav li.open a:focus,
  .navbar-custom .nav li.open a:hover {
    outline: 0;
    background-color: transparent;
  }    