<header data-spy="scroll" data-target=".navbar-fixed-top">
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 address">
          <i class="ti-location-pin"></i> 64, rue de Palestine , Tunis, Tunisia
        </div>
        <div class="col-sm-6 social">
          <ul>
            <li><a href="https://www.facebook.com/assurancesmaghrebiaTN?locale=fr_FR"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://www.linkedin.com/company/assurances-maghrebia/"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="https://www.instagram.com/assurance_maghrebia/"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" routerLink="/home">
          Insurance<span>Press</span>
        </a>
        <p>Call Us Now <b>+215 (362) 4579</b></p>
      </div>
      <div class="collapse navbar-collapse navbar-main-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/blog">Blog</a></li>
          <li><a routerLink="/blog-details">Blog Details</a></li>
          <li><a routerLink="/contact-us">Contact</a></li>
          <li><a routerLink="/buy-pro" class="btn-default">Buy Pro Version</a></li>
          <li><a routerLink="/admin/dashboard">Admin Dashboard</a></li>
          <li><a routerLink="/insurances">Insurances</a></li>
          <li><a routerLink="/joinus">Rejoignez-nous</a></li>
          <li><a routerLink="/reservation">Rendez-vous</a></li>

        </ul>
      </div>
    </div>
  </nav>
</header>
