
  <div class="container" >
    
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <h2>S'inscrire</h2>
    <form (submit)="handleSubmit()">
      <div class="form-group">
        <label>Prenom:</label>
        <input type="text" name="name" [(ngModel)]="formData.name" required />
      </div>
      <div class="form-group">
        <label>Nom:</label>
        <input type="text" name="lastname" [(ngModel)]="formData.lastname" required />
      </div>
      <div class="form-group">
        <label>Date de naissance:</label>
        <input type="date" name="dnaiss" [(ngModel)]="formData.dnaiss" required />
      </div>
     
      <div class="form-group">
        <label>Cin:</label>
        <input type="text" name="cin" [(ngModel)]="formData.cin" required />
      </div>
      
      <div class="form-group">
        <label>Email:</label>
        <input type="email" name="email" [(ngModel)]="formData.email" required />
      </div>
      <div class="form-group">
        <label>Mot de passe:</label>
        <input type="password" name="password" [(ngModel)]="formData.password" required />
      </div>
      <div class="form-group">
        <label>Ville:</label>
        <input type="text" name="city" [(ngModel)]="formData.city" required />
      </div>
      <div class="form-group">
        <label>Civilite:</label>
        <select name="role" [(ngModel)]="formData.civility" required>
          <option value="">Selectionner civilite</option>
          <option value="DIVORCED">SINGLE</option>
          <option value="MARRIED">MARRIED</option>
          <option value="DIVORCED">DIVORCED</option>
        </select>
      </div>
      <div class="form-group">
        <input type="file" (change)="onFileSelected($event)">
      </div>
     
      <img *ngIf="formData.image" [src]="formData.image" alt="Selected Image" width="150">
     
      <button type="submit">S'inscrire</button>
    </form>
  </div>
  