<div class="dashboard-container">
  <div class="dashboard-sidebar">
    <div class="sidebar-header">
      <h3>Admin Dashboard</h3>
    </div>
    <ul class="sidebar-menu">
      <li class="active">
        <i class="fas fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </li>
      <li>
        <i class="fas fa-users"></i>
        <span>Users</span>
      </li>
      <li>
        <i class="fas fa-file-alt"></i>
        <span>Claims</span>
      </li>
      <li>
        <i class="fas fa-file-alt"></i>
        <a mat-list-item routerLink="/contrats">Mes Contrats</a>
      </li>
      <li>
        <i class="fas fa-file-alt"></i>
        <a mat-list-item routerLink="/factures">Mes Factures</a>
      </li>
      <li> 
        <i class="fas fa-shield-alt"></i>
        <span>Policies</span>
      </li>
      <li>
        <i class="fas fa-cog"></i>
        <span>Settings</span>
      </li>
    </ul>
  </div>
<div *ngIf="factures.length > 0; else noFactures" class="factures-container">
  <div class="table-wrapper">
  <table class="factures-table">
    <thead>
      <tr>
        <th>Numéro</th>
        <th>Date</th>
        <th>Montant</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let facture of factures">
        <td>{{ facture.numFacture }}</td>
        <td>{{ facture.dateEmission | date: 'dd/MM/yyyy' }}</td>
        <td>{{ facture.montant | number:'1.2-2' }} TND</td>
        <td>
          <button class="download-btn" (click)="downloadPdf(facture.id)">
            <i class="fas fa-download"></i> Télécharger
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>


<ng-template #noFactures>
  <div class="no-factures">
    <i class="fas fa-file-invoice"></i>
    <p>Aucune facture disponible pour le moment.</p>
  </div>
</ng-template>