<div class="container">
  <div class="card">
    <h2>Réinitialisation du mot de passe</h2>
    <p>Entrez votre nouveau mot de passe.</p>

    <!-- Formulaire -->
    <form (ngSubmit)="onSubmit()">
      
      <div class="form-group">
        <label for="newPassword">Nouveau mot de passe</label>
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          [(ngModel)]="newPassword"
          placeholder="Votre nouveau mot de passe"
          required
        />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmer le mot de passe</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          [(ngModel)]="confirmPassword"
          placeholder="Confirmez votre mot de passe"
          required
        />
      </div>
      <button type="submit" class="btn">Réinitialiser</button>
    </form>
   
    <!-- Notification -->
    <div *ngIf="showNotification" class="notification">
      {{ notificationMessage }}
    </div>
  </div>
</div>