.dialog-title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 24px;
  margin-top:160px;

}

.dialog-content {
  display: flex;
  flex-direction: column;
  padding: auto;
}


.close-btn {
  background-color: #f44336;
  color: white;
}

button {
  min-width: 50px;
}



mat-form-field {
  margin-bottom: 16px;
}

mat-error {
  font-size: 12px;
  color: #f44336;
}

mat-select, mat-datepicker {
  width: 100%;
}




.mat-dialog-container {
  display: flex;
}

.mat-dialog-content {
  overflow-y: auto;
}

.dialog-actions {
  position: sticky;
  bottom: 0;
  background: white;
  padding: 16px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour le démarquer */
}