<div class="container">
    <h2>Liste d'Agents</h2>
    
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <div *ngIf="isLoading">Loading agents...</div>
  
    <table *ngIf="agents.length > 0 && !isLoading">
      <thead>
        <tr>
          <th>ID</th>
          <th>Prenom</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agent of agents">
          <td>{{ agent.iduser }}</td>
          <td>{{ agent.name }}</td>
          <td>{{ agent.lastname }}</td>
          <td>{{ agent.email }}</td>
          <td>{{ agent.role }}</td>
          <td>
            <button (click)="openAssignDialog(agent)">Assign Agency</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <p *ngIf="agents.length === 0 && !isLoading">No agents found.</p>
  </div>