/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
>>>>>>> c9305956a030b291610f62d4a496788fd831d8e1
