<section class="breadcrumb">
  <div class="container">
    <h2>Dashboard Admin</h2>
    <ul>
      <li><a routerLink="/admin/dashboard">Dashboard</a>></li>
      <li style="color: grey;"> Disponibilités</li>
    </ul>
  </div>
</section>
<div  class="availability-form">
  <h3><i class="fa fa-clock-o" style="margin-right: 6px;"></i>Définir vos disponibilités</h3>
  <form #form="ngForm" (ngSubmit)="submitAvailability()">
    <div>
      <label for="date">Date :</label>
      <input type="date" id="date" [(ngModel)]="availability.date" name="date" required>
    </div>
    <div>
      <label for="start-time">Heure de début :</label>
      <input type="time" id="start-time" [(ngModel)]="availability.startTime" name="startTime" required>
    </div>
    <div>
      <label for="end-time">Heure de fin :</label>
      <input type="time" id="end-time" [(ngModel)]="availability.endTime" name="endTime" required>
    </div>
    <!-- Afficher un message d'alerte si le formulaire est invalide -->
    <div *ngIf="form.invalid" style="color: red; margin-top: 10px;margin-bottom: 10px;">
      Veuillez remplir tous les champs pour ajouter votre disponibilité
    </div>
    <button type="submit" class="btn-success"[disabled]="form.invalid">Ajouter disponibilité</button>
  </form>
</div>

