<div class="banner" style="background-image: url('assets/images/carrieres.jpg'); background-size: cover; background-position: center; height: 250px; display: flex; align-items: center; justify-content: center; color: #304254;margin-top: 40px;">
</div>
<section class="breadcrumb">
  <div class="container">
    <h2>Carrières</h2>
    <ul>
      <li>Carrières></li>
      <li>Rejoignez-nous</li>
    </ul>
  </div>
</section>
<section class="content">
  <div class="cards">
    <mat-card class="card" [routerLink]="['/politique']">
      <div class="icon-container">
        <mat-icon class="icon">menu_book</mat-icon>
      </div>
      <h3>POLITIQUE RH</h3>
    </mat-card>
    <mat-card class="card" [routerLink]="['/joboffer']">
      <div class="icon-container">
        <mat-icon class="icon">group_add</mat-icon>
      </div>
      <h3>OFFRES D'EMPLOI</h3>
    </mat-card>
    <mat-card class="card" [routerLink]="['/jobApp']">
      <div class="icon-container">
        <mat-icon class="icon">refresh</mat-icon>
      </div>
      <h3>CANDIDATURE SPONTANÉE</h3>
    </mat-card>
  </div>
</section>

<style>
  .icon-container {
    width: 90px;
    height: 90px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon {
    color: white;
    font-size: 25px;
  }
  .cards {
    display: flex;
    justify-content:space-evenly;
    padding: 20px;
  }
  .card {
    text-align: center;
    padding: 20px;
  }
</style>

