<div class="grid-container">
    <a (click)="setTypeAssuranceId(1, '/ecolia')" class="grid-item" style="background-image: url('assets/images/ecolia.jpg');">
        <div class="overlay">
            <div class="icon">🎒</div>
            <p>Ecolia</p>
        </div>
    </a>

    <a (click)="setTypeAssuranceId(2, '/voyage')" class="grid-item" style="background-image: url('assets/images/assurance-voyage.jpg');">
        <div class="overlay">
            <p>Assurance Voyage</p>
        </div>
    </a>

    <a (click)="setTypeAssuranceId(3, '/habitation')" class="grid-item" style="background-image: url('assets/images/assurance-habitation.jpg');">
        <div class="overlay">
            <div class="icon">🏠</div>
            <p>Assurance Habitation</p>
        </div>
    </a>

    <a (click)="setTypeAssuranceId(4, '/sante')" class="grid-item" style="background-image: url('assets/images/sante.jpg');">
        <div class="overlay">
            <p>Assurance Santé</p>
        </div>
    </a>

    <a (click)="setTypeAssuranceId(5, '/accident')" class="grid-item" style="background-image: url('assets/images/assurance-accidents.jpg');">
        <div class="overlay">
            <p>Assurance Accidents</p>
        </div>
    </a>

    <a (click)="setTypeAssuranceId(6, '/sacre-capitalisation')" class="grid-item" style="background-image: url('assets/images/sacre-capitalisation.jpg');">
        <div class="overlay">
            <p>Sacre Capitalisation</p>
        </div>
    </a>
</div>
