<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<mat-toolbar color="primary" class="header">
  <span class="title">CARRIÈRES</span>
</mat-toolbar>

<div class="banner" style="background-image: url('assets/images/carrieres.jpg'); background-size: cover; background-position: center; height: 250px; display: flex; align-items: center; justify-content: center; color: darkblue;">
  <h1>Rejoignez-nous !</h1>
</div>
<section class="breadcrumb">
  <div class="container">
    <h2>Carrières</h2>
    <ul>
      <li><a routerLink="/joinus">Rejoignez-nous</a> ></li>
      <li>Politique RH</li>
    </ul>
  </div>
</section>

<h2 class="text-center text-primary mb-4"><i class="fa fa-file-text" style="margin-right: 8px;"></i>Politique des Ressources Humaines de Maghrebia</h2>

<div class="policy-container">
  <p class="intro-text">
    Chez Maghrebia, notre politique RH repose sur des valeurs fondamentales qui favorisent l'épanouissement de nos collaborateurs et la réussite collective de l'entreprise. Nous nous engageons à :
  </p>
  
  <ul class="policy-list">
    <li><i class="fas fa-check-circle"></i> Développer une relation de confiance durable avec nos collaborateurs en garantissant un environnement de travail sain, inclusif et respectueux.</li>
    <li><i class="fas fa-check-circle"></i> Favoriser l'innovation et la formation continue, permettant à chacun d'acquérir de nouvelles compétences et d'évoluer professionnellement.</li>
    <li><i class="fas fa-check-circle"></i> Encourager un esprit d'équipe et un partenariat transparent entre les collaborateurs, les clients et les partenaires pour assurer un développement harmonieux et durable.</li>
    <li><i class="fas fa-check-circle"></i> Promouvoir l'implication de tous dans l'amélioration continue des performances de l'entreprise, en mettant le client au centre de nos préoccupations.</li>
    <li><i class="fas fa-check-circle"></i> Veiller à l'équilibre entre vie professionnelle et personnelle, en offrant un cadre de travail flexible et motivant.</li>
    <li><i class="fas fa-check-circle"></i> Renforcer notre image de marque en tant qu'employeur responsable, crédible et soucieux du bien-être de ses équipes.</li>
  </ul>
</div>
