.annuler-btn {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.annuler-btn:hover {
  background: rgb(167, 7, 7);
}