<h2 mat-dialog-title style="font-weight: bold;">{{ job.title }}</h2>

<div mat-dialog-content>
  <p><strong>Id:</strong> {{ job.jobOfferId }}</p>
  <p><strong>Description:</strong> {{ job.fullDescription }}</p>
  <p><strong>Exigences:</strong> {{ job.requirements }}</p>
  <p><strong>Localisation:</strong> {{ job.location }}</p>
  <p><strong>Type de contrat:</strong> {{ job.contractType }}</p>
  <p><strong>Date limite:</strong> {{ job.deadline }}</p>
</div>

<div mat-dialog-actions class="d-flex justify-content-center ">
  <button  (click)="closeDialog()" class="annuler-btn text-white">Fermer</button>
</div>
