<div class="dashboard-sidebar">
  <div class="sidebar-header">
    <h3>Admin Dashboard</h3>
  </div>
  <ul class="sidebar-menu">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <i class="fas fa-tachometer-alt"></i>
      <span routerLink="/">Dashboard</span>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <i class="fas fa-users"></i>
      <span routerLink="/users">Users</span>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <i class="fas fa-file-alt"></i>
      <span routerLink="/claim-admin">Claims</span>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <i class="fas fa-file-alt"></i>
      <span routerLink="/agency-list">Agency</span>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <i class="fas fa-shield-alt"></i>
      <span>Policies</span>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <i class="fas fa-cog"></i>
      <span>Settings</span>
    </li>
  </ul>
</div>
