
<div class="dashboard-container">
    <div class="dashboard-sidebar">
      <div class="sidebar-header">
        <h3>Admin Dashboard</h3>
      </div>
      <ul class="sidebar-menu">
        <li class="active">
          <i class="fas fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </li>
        <li>
          <i class="fas fa-users"></i>
          <span>Users</span>
        </li>
        <li>
          <i class="fas fa-file-alt"></i>
          <span>Claims</span>
        </li>
        <li>
          <i class="fas fa-file-alt"></i>
          <a mat-list-item routerLink="/contrats">Mes Contrats</a>
        </li>
        <li>
          <i class="fas fa-file-alt"></i>
          <a mat-list-item routerLink="/factures">Mes Factures</a>
        </li>
        <li> 
          <i class="fas fa-shield-alt"></i>
          <span>Policies</span>
        </li>
        <li>
          <i class="fas fa-cog"></i>
          <span>Settings</span>
        </li>
      </ul>
    </div>
<div class="table-wrapper">
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Numéro de Contrat</th>
        <th>Date de Création</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contrat of contrats">
        <td>{{ contrat.id }}</td>
        <td>{{ contrat.numContrat }}</td>
        <td>{{ contrat.dateCreation }}</td>
        <td>
          <button (click)="downloadPdf(contrat.id)">Télécharger PDF</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
 
  